.db-dropdown {
  height: calc(100% - 14px);
  overflow: auto;
  padding: 24px;
}

.db-dropdown .field-container {
  margin-bottom: 4px;
  margin-top: 14px;
}

.db-dropdown .field-name {
  position: relative;
  text-align: left;
  float: left;
  width: 70px;
}

.db-dropdown .field-value{
  width: calc(100% - 75px);
  position: relative;
  text-align: left;
  float: left;
}

.db-dropdown .Select-control,
.db-dropdown .Select-menu-outer {
  background-color: #f8f8f8;
  border: 1px solid #aeaeae;
}

.db-dropdown .Select-option {
  background-color: #f8f8f8;
}
