.db-dropdown {
  overflow: auto;
  padding: 24px;
  height: 100%;
}

.db-dropdown .field-container {
  margin-bottom: 4px;
  margin-top: 14px;
}

.db-dropdown .field-name {
  position: relative;
  text-align: left;
  float: left;
  width: 70px;
}

.db-dropdown .field-value{
  width: calc(100% - 75px);
  position: relative;
  text-align: left;
  float: left;
}

.db-dropdown .Select-control,
.db-dropdown .Select-menu-outer {
  background-color: #e6effb;
  border: 1px solid black;
}

.db-dropdown .Select-option {
  background-color: #e6effb;
}
