.pie-chart {
  background-color: #fdfdfd;
  user-select: none;
  overflow: visible;
  height: 100%;
  width: 100%;
}

.pie-chart > svg {
  position: relative;
  margin: 0 auto;
  display: table;
}

svg [class*="_pieChart"],
svg [class*="_labelGroup"] {
  cursor: pointer;
}

