.popover-content .predix {
  height: 180px;
  width: 200px;
  padding: 0;
}

.predix .popoverTitle {
  border-bottom: solid 1px #aeaeae;
  border-radius: 4px 4px 0 0;
  background-color: #ededed;
  padding: 4px 4px 4px 10px;
  margin-bottom: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.predix .graph-container {
  position: absolute;
  height: 150px;
  width: 200px;
  padding: 4px;
  left: -2px;
  top: 32px;
}

.predix .graph {
  border-radius: 4px;
  position: absolute;
}
