.DS_STORE
*.log
node_modules
dist
coverage
.idea
.vscode
resources/img/optimized
resources/libs/lmv
resources/models/dev
resources/db/prod
resources/db/dev
bin/static
push-to-prod.sh
config/development.config.js
nginx
TMP

