.DS_STORE
*.log
node_modules
bin
coverage
.idea
.vscode
logs
resources/img/optimized
resources/libs/lmv
resources/models
push-to-prod.sh
nginx
TMP
env.sh
config/sb
resources/models/engine
public
data
routes
