.database-table {

  .title {
    display: inline-flex;
    float: left;
  }

  .title > label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    white-space: nowrap;
    font-weight: normal;
    user-select: none;
    margin-left: 27px;
    margin-top: 10px;
    select: none;
    width: 144px;
    float: left;
  }

  .content {
    height: 100%;
  }
}
