
.configurator-view {
  height: calc(100vh - 69px);
  background-color: #dadada;
  position: relative;
  width: 100vw;
}

.configurator-view .notifications {
  overflow: visible;
  position: fixed;
  z-index: 99999;
  top: 80px;
  height: 0;
}
