.db-chart {
  user-select: none;
  height: 100%;
  width: 100%;
}

.db-chart.compact > .legend-scroll {
  border-bottom: 1px solid #aeaeae;
  height: calc(100% - 10px);
  overflow: auto;
}

.db-chart.full > .legend-scroll {
  border-bottom: 1px solid #aeaeae;
  overflow: auto;
  height: 50%;
}

.legend-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  &:vertical{
    width: 11px;
  }
  &:horizontal{
    height: 11px;
  }
}

.legend-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

.legend-container {
  margin-left: 20px;
  margin-top: 12px;
  height: 100%;
}

.db-chart.compact > .pie-chart-container {
  display: none;
}

.db-chart.full > .pie-chart-container {
  padding-top: 10px;
  overflow: hidden;
  height: 50%;
}

svg [class*="_pieChart"],
svg [class*="_labelGroup"] {
  cursor: pointer;
}

