.db-chart {
  height: 100%;
  width: 100%;
}

.legend-scroll {
  height: calc(50% - 40px);
  overflow: auto;
}

#legend-container {
  margin-left: 5%;
  height: 300px;
}

#pie-chart-container {
  height: calc(50% - 22px);
  margin-left: 10%;
  overflow: hidden;
}

.db-chart .footer {
  border-top: 1px solid #aeaeae;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 10px;
  height: 26px;
}

.db-chart .footer .footer-panel {
  height: 100%;
  width: 50%;
}

svg [class*="_pieChart"],
svg [class*="_labelGroup"] {
  cursor: pointer;
}

