.db-chart {
  height: 100%;
  width: 100%;
}

.legend-scroll {
  height: calc(50% - 25px);
  overflow: auto;
}

#legend-container {
  margin-left: 20px;
  margin-top: 6px;
  height: 100%;
}

#pie-chart-container {
  height: calc(50% - 25px);
  overflow: hidden;
}

.db-chart .footer {
  border-top: 1px solid #aeaeae;
  text-align: left;
  height: 26px;
}

.db-chart .footer .footer-panel {
  height: 100%;
  float: left;
  width: 50%;
}

svg [class*="_pieChart"],
svg [class*="_labelGroup"] {
  cursor: pointer;
}

