.data-management {

  .title {
    display: inline-flex;
    float: left;
  }

  .title > label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    white-space: nowrap;
    font-weight: normal;
    user-select: none;
    margin-left: 27px;
    margin-top: 10px;
    select: none;
    width: 142px;
    float: left;
  }

  .content {
    height: 100%;
  }

  .content > .controls {
    position: absolute;
    width: 100%;
  }

  .tab-content {
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    border-left: 1px solid #888888;
    height: calc(100% - 28px);
    background: #fafafa;
    overflow-y: scroll;
  }

  .tabs-container {
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    margin: 4px;

    .tabs {
      height: 100%;
    }
  }

  .nav-tabs {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    height: 30px;

    li {
      overflow: hidden;
      height: 30px;
      float: left;

      &.active > a {
        background-color: #ffffff;
        border-bottom: none;
      }
    }
  }

  .nav-tabs > li > a {
    background-color: #fafafa;
    border: 1px solid #888888;
    white-space: nowrap;
    padding: 4px 6px;
    outline: none;
    height: 100%;

    label {
      pointer-events: none;
      overflow: hidden;
    }
  }
}

/////////////////////////////////////////////////////////
// title controls
//
/////////////////////////////////////////////////////////
.data-management-controls {
  margin: auto 0 auto calc(100% - 173px);
  position: relative;
  float: left;
}

.data-management-controls > button {
  border: 1px solid #c6c6c6;
  background-color: #e1e1e1;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  outline: none;
  height: 24px;
  width: 26px;
}

.data-management-controls > button:hover {
  border: 1px solid #878787;
  background-color: #f5f5f5;
}

.data-management-controls > button > label {
  position: relative;
  font-size: 20px;
  color: #f0fcff;
  top: -8px;
}

.data-management-controls > button > span {
  pointer-events: none;
  color: #9b9b9b
}

