
.navbar {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 60px;
  height: 65px;
  padding-top: 0;
}

.navbar-brand>img {
  display: block;
  margin: 5px;
  float: left;
}

.forge-rcdb-navbar .dropdown-menu>li>a {
  height: 30px;
  line-height: 23px;
  padding: 3px 20px;
}

.forge-rcdb-navbar .dropdown .caret {
  position: relative;
  top: -60px;
  left: 45px;
}

.navbar-default {
  border-bottom-color: #F5C70A;
  border-bottom-width: 4px;
}

.forge-rcdb-navbar .app-logo {
  position: relative;
  top: 2px;
}

.forge-rcdb-navbar .menuItem {
  border-radius: 4px;
}

.forge-rcdb-brand-item, {
  list-style: none;
}

.forge-rcdb-brand-item > a,
.forge-rcdb-brand-item > a:hover {
  text-shadow: 0 0 0.5px #000;
  text-decoration: none;
  font-size: 24px;
  color: #daa228;
}

.forge-rcdb-brand-item > a:hover {
  color: #a53a20;
}

.forge-rcdb-navbar .forge-rcdb-span {
  position: relative;
  font-size: 26px;
  top: 3px;
}
