.model-derivatives {

  .hierarchy {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    background: white;
    padding: 10px;
    height: 100%;
    width: 100%;
  }
}
