.constrained-placement {
  height: 270px;
  width: 260px;
  resize: auto;
  left: 10px;
  top: 10px;
}

div.snapper-tooltip {
  pointer-events:none;
  position:absolute;
  font-family:arial;
  visibility:hidden;
  font-size:16px;
  color: #1df02a;
}
