.pie-legend {
  border-bottom: 1px solid #dcdcdc;
  background: white;
  overflow: scroll;
  cursor: pointer;
  outline: none;
  height: 100%;

  .ReactTable .rt-thead .rt-tr {
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    color: #5a5a5a;
  }

  .ReactTable .rt-tbody .rt-td {
    text-align: left;
    color: #727272;
  }

  .ReactTable .rt-tbody .rt-tr > .rt-td:first-child {
    padding: 4px;
  }
}
