.pie-legend {
  border-bottom: 1px solid #dcdcdc;
  background: white;
  overflow: scroll;
  cursor: pointer;
  outline: none;
  height: 100%;

  .ReactTable {
    height: 100%;

    .rt-thead .rt-tr {
      font-weight: bold;
      text-align: left;
      font-size: 13px;
      color: #5a5a5a;
    }

    .rt-tbody .rt-td:first-child {
      padding: 4px;
    }

    .rt-tbody .rt-td {
      text-align: left;
      color: #727272;
    }
  }
}
