.pie-legend {
  border-bottom: 1px solid #dcdcdc;
  background: white;
  overflow: scroll;
  cursor: pointer;
  outline: none;
  height: 100%;

  .ReactTable .rt-tbody .rt-td {
    text-align: left;
  }

  .ReactTable .rt-tbody .rt-tr > .rt-td:first-child {
    padding: 4px;
  }
}
