.configurator-loader {
  height: calc(100vh - 65px);
  position: relative;
  top: 0px;
}

.configurator .data-pane {
  background-color: #ababab;
  height: 100%;
}

.configurator-toolbar {
  position: absolute;
  bottom: 100px;
  right: 105px;
}

.viewer-element {
  overflow: visible !important;
}
