.widget-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.widget-container > .title {
  border-bottom: 1px solid #cdcdcd;
  background-color: #f5f5f5;
  padding-right: 10px;
  color: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  text-align: left;
  height: 40px;
  width: 100%;
}

.widget-container > .title > label {
  white-space: nowrap;
  user-select: none;
  margin-left: 27px;
  margin-top: 10px;
}

.widget-container > .content{
  background-color: white;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
