.widget-container {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

.widget-container .title {
  background-color: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  text-align: left;
  height: 48px;
  width: 100%;
}

.widget-container .title label{
  margin-left: 27px;
  margin-top: 13px;
}

.widget-container .content{
  height: calc(100% - 48px);
  overflow: auto;
  width:100%;
}

.legend-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  &:vertical{
    width: 11px;
  }
  &:horizontal{
    height: 11px;
  }
}

.legend-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}
