.recent-models {
  background: #ffffff;
}

.recent-models > .title {
  border-bottom: 1px solid #dedede;
  padding: 4px 0 4px 8px;
  background: #f9f9f9;
  text-align: left;
  font-weight: 800;
  font-size: 16px;
  cursor: default;
  color: #6d6d6d;
}

.recent-models > .title > span {
  position: relative;
  margin-right: 6px;
  font-size: 24px;
  top: 2px;
}

.recent-models .content {
  margin: 4px 0 0 4px;
  overflow: auto;
}
