<!--/////////////////////////////////////////////////////////////////////////////////
// Copyright (c) Autodesk, Inc. All rights reserved
// Written by Philippe Leefsma 2016 - ADN/Developer Technical Services
//
// Permission to use, copy, modify, and distribute this software in
// object code form for any purpose and without fee is hereby granted,
// provided that the above copyright notice appears in all copies and
// that both that copyright notice and the limited warranty and
// restricted rights notice below appear in all supporting
// documentation.
//
// AUTODESK PROVIDES THIS PROGRAM "AS IS" AND WITH ALL FAULTS.
// AUTODESK SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTY OF
// MERCHANTABILITY OR FITNESS FOR A PARTICULAR USE.  AUTODESK, INC.
// DOES NOT WARRANT THAT THE OPERATION OF THE PROGRAM WILL BE
// UNINTERRUPTED OR ERROR FREE.
////////////////////////////////////////////////////////////////////////////////-->
<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, height=device-height, minimal-ui, minimum-scale=1.0, initial-scale=1, user-scalable=no"/>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.options.style%>" type="text/css"/>
  <link rel="shortcut icon" href="/resources/img/logos/adsk.png" type="image/x-icon"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>
    <%=htmlWebpackPlugin.options.title%>
  </title>
  <meta charset="utf-8">
</head>

<body>
  <div id="root"></div>
  <script src="<%=htmlWebpackPlugin.options.viewer3D%>"></script>
  <%=htmlWebpackPlugin.files.webpackManifest%>
</body>

</html>

