
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  z-index: 10;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.react-grid-layout {
  background: #888888;
}

.layoutJSON {
  background: #ddd;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}
.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}
.react-grid-item {
  box-sizing: border-box;
}
.react-grid-item:not(.react-grid-placeholder) {
  background: #ccc;
  border: 1px solid black;
}
.react-grid-item.resizing {
  opacity: 0.9;
}
.react-grid-item.static {
  background: #cce;
}
.react-grid-item .text {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 24px;
}
.react-grid-item .minMax {
  font-size: 12px;
}
.react-grid-item .add {
  cursor: pointer;
}

.react-grid-item .handle {
  transition: opacity 0.5s ease-in-out;
  border-bottom-right-radius: 3px;
  content:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAe1BMVEUAAABEREBEREBEREBEREBEREBEREAAAABEREBEREAAAAAAAABEREAAAAAAAABEREBEREBEREBEREABAQFEREALCwoEBAQeHhwFBQUBAQEBAQECAgIGBgYFBQUGBgYKCgkcHBoICAgGBgYAAAABAQEEBAMEBAQDAwMBAQBIz5WoAAAAI3RSTlMAAQIDBAUGVQcIFeoJq6oKCwwOqw9f6yOv6qxWF7CwXiJcrwBlG0UAAAUoSURBVHjazZvreqMgEIajiVJREzVR0022TWOT9v6vcD0HQZQBxPVXn6nwccrM6wCbzf/2WLZtWyvYumdbPSvYuqbtHMfZWcZt/f8c13UdC2JDSL4sq//med6bBbFh38eyZVl9LwgCzwLZwqLYy5alH/sQRdHBBtlQUT5IriyjH8VxHNkgG/arBvhYpiyrnyRJTL0fz9jCon6OsURZev4PcXJKqPeT02nShhr970d6Apfthbu1EZWtA9bRTECp/8xySX1ra7e/jaCcHWgdYaf/fJ4l9XdNAyzHC6IIWgd66T++kZS+4zQN2LlecIDqNxPQ6hetO4Lpv7nOtloDW8f1PPAYhqR+645A+rbnlQ2oF4LjUr5RoA401K/dEUz/EHjurv5r6zhg/XoCSP1uEoT1oyjwGl17uwPr1xMw0G8nQVi/9IhBO+72Fq6PWP0mJojqlx4x6mISFZpE6qgmgNGvYoKw/imJD5yYKFJHOKZfxgRx/VPCi0kidaBxfVBMiBX0ywkY15ePCbD3Q56+dEyAvY/4+pIxAfY+9if0pWIC8P1wSl8mJrx8k9D7aFofHhMIJhR5H7/P6ENjApQJ/8zpA2MClAkv8/qgmABlwmsmoA+ICWAm/CuiLx4T1JhwsyH1pZhUjQnrBvT9l9BXZMK6Aa/xl9BXY8K6AcT8w/UVmbB6yPUH1ldkwtpGrn9oWUUmbGzk7w9aVpEJGxv5+4eWVWPC1kb6H2hZJSbsbKT/g5YFMMn1L68O0v/ytD5yVf1L9uT1gXT/3HWSfSrp4yr+8/pANmBinYRYXh/V/MMbQzImTq0TH0kyIW75kzeGZEyeXifdIMCYEHX8zRsnkglm1kkzCCAmxOFsrCeZZHadlIMAYkLkz8d6konm14l/ATAhDkViPclkIuuE9Qk8JkTD/ANvDZNMKLJOGJ/AYUJM539UmJBi14FP4DAhYvJfKkxIszPpE0aZEIcsa6swIcvuvU8YZULkj7C+ChOOfDu0PmGMCXHI/dbQaqt8whgTIt+Mfu0TWCZsu29Cv/IJN5oJ2+4b0i99wtcw7oeFWf3nT0H6hK775vQfvwOfYHr8GxvRgA3em9ffY3oRGtX3EY0k+GhSn+p+w4RpZkqf7X7DhPnZjP5I9zsm7H+P0Fgv8u3Q1jfsPs2Ezc9h2Ac9TNjVN+j+GBOyPkEXE1bvvaN5JmR8gjYmfD6OWChPSPkEbUyYXUTzhEOfoIsJz1dAnpD0CXqYkPlOn8kTEj5BCxPeb+A8Ye8TVPKE3X5eKpMn7HyCSp6w0b/nknnCZhBU8oSVfpbK5wnrQVDJE5b691wpT1gOgkqe8DtLVfOE+KiSJzznS+xdAvKEpwX1hfKES+oL5QmX1BfKE+rfOwbmCbXvHUPzhNr3jqFMuOh5QhEmXPQ8oQgTLnmeUIgJNe8df4h9f5wX2zvOMxH9LF9u7/hT5PsrXXLvOJzXvy+6d4z9Of0sX3bvGM19/6ZL7x3P5NPui+8d48l8qvB5OoW9YzSVf0hN7B2HfP27ESbhn6fLbmaYiHue6tMUk32seJ5yIiZkV3NMOBoTLiaZcCQmHI0yIRsT3rFZJkRaztOqMCEVE/bGmXAYE3wso692nnAQE9Aa5wmJmLBf5TzhKybInKfWcJ7wFROQhL6G84R9TNhLlJ1iQvG7c7fs57cgJwBQls+EkLuDX+RpcmDZg5Z7l+HgPL2Ge5fQu6P9pdeNnnun8Luz/bVfPfduFe4Oa7l3vPK967Xvna907/4f2NK/WJZ1FREAAAAASUVORK5CYII=');
  background-color: #cccccc;
  position: absolute;
  opacity: 0.05;
  height: 15px;
  z-index: 100;
  cursor: move;
  width: 15px;
}

.react-grid-item .handle:hover {
  opacity: 1.0;
}

.grid-layout-movableLock {
  position: absolute;
  width: 100%;
  height: 100%;
}

.db-responsive-view {
  height: 100%;
  width: 100%;
}
