.model-derivatives {

  .manifest {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: text;
    text-align: left;
    padding: 10px;
    height: 100%;
    width: 100%;

    .react-json-view {
      .object-content {
        white-space: nowrap;
      }
    }
  }
}
