.pie-legend {
  border-bottom: 1px solid #dcdcdc;
  background: white;
  overflow: scroll;
  cursor: pointer;
  outline: none;
  height: 100%;

  .ReactTable {
    height: 100%;

    .rt-thead{

      &.-header {
        box-shadow: none;
        border-bottom: 1px solid #b4b4b4;
      }

      .rt-tr {
        border-right: none;
        font-weight: bold;
        text-align: left;
        font-size: 13px;
        color: #5a5a5a;
      }

      .rt-th {
        border-right: none;
      }
    }

    .rt-tbody .rt-td:first-child {
      padding: 3px;
    }

    .rt-tbody .rt-td {
      border-right: none;
      padding: 4px 5px;
      text-align: left;
      color: #727272;
    }
  }

  .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: #f8f8f8;
  }
}

