.ar-vr-toolkit {

  .manifest {
    background: #fafafa;
    position: relative;
    overflow-y: scroll;
    overflow-x: scroll;
    user-select: text;
    text-align: left;
    padding: 10px;
    height: 100%;
    width: 100%;

    .json-view {
      overflow-x: scroll;
      overflow-y: scroll;
      height: 100%;
    }
  }
}
