<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Navigation Knob</title>
  
 
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  
<div class="container">

    <!-- OUTER SHADOW -->
    <div class="de">

        <!-- TEXT -->
        <div class="den">

            <!-- LINE -->
            <hr class="line">
            <hr class="line">
            <hr class="line">

            <!-- SWITCH -->
            <div class="switch">

                <!-- TEXT -->
                <label for="switch_off"><span>OFF</span></label>
                <label for="switch_1"><span>1</span></label>
                <label for="switch_2"><span>2</span></label>
                <label for="switch_3"><span>3</span></label>
                <label for="switch_4"><span>4</span></label>
                <label for="switch_5"><span>5</span></label>

                <!-- INPUT -->
                <input id="switch_off" name="switch" checked type="radio">
                <input id="switch_1" name="switch" type="radio">
                <input id="switch_2" name="switch" type="radio">
                <input id="switch_3" name="switch" type="radio">
                <input id="switch_4" name="switch" type="radio">
                <input id="switch_5" name="switch" type="radio">

                <!-- LIGHT -->
                <div class="light"><span></span></div>

                <!-- DOT -->
                <div class="dot"><span></span></div>

                <!-- CENTER -->
                <div class="dene">
                    <div class="denem">
                        <div class="deneme">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
  
</body>
</html>
