.raytree-container {

  overflow-y: scroll;
  text-align: left;
  height: 100%;

  .treeview header {
    transition-property: background, border;
    transition-timing-function: ease;
    transition-duration: 1.5s;
    transition-delay: 0.0s;

    background: rgba(245, 245, 245, 0.5);
    border: none;
    height: 30px;
  }

  .treeview header:hover {
    background: rgba(0, 105, 245, 0.35);
  }

  .treeview group > header > icon {
    height: 20px;
    float: left;
  }

  .treenode .switch-container {
    border: 1px solid #9c9c9c;
    border-radius: 12px;
    margin: 0 4px 0 2px;
    float: left;
  }

  .treenode {
    float: left;
  }

  input[type="checkbox"].switch + div {
    width: 36px;
    height: 18px;
  }

  input[type="checkbox"].switch:checked + div {
    width: 36px;
  }

  input[type="checkbox"].switch:checked + div > div {
    transform: translate3d(18px, 0, 0);
  }

  input[type="checkbox"].switch + div > div {
    height: 18px;
    width: 18px;
    margin: 0;
  }
}
