.ar-vr-toolkit {

  .manifest {
    background: #fafafa;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: text;
    text-align: left;
    padding: 10px;
    height: 100%;
    width: 100%;
  }
}
